.nav-li li{
  display: inline;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111111;
}

.active {
  background-color: #04AA6D;
}

li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#333333;
  color: white;
  text-align: center;
}
.inputBox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border:1px solid skyblue;
}
.register{
  margin-left: 30%;
}

.login{
  margin-left: 30%;
  margin-top: 100px;
}

.Appbutton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border:1px solid;
  cursor: pointer;
}

.nav-right{
  text-align: right;
  display:block;
}

.logo{
  width: 45px;
  float: left;
  border-radius: 70%;
  margin-top: 3px;
  margin-left: 7px;
}

.invalid-input{
  color:dimgrey;
  margin-top: -20px;
  display: block;
  margin-left: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
